@media screen and (max-width:1184px) {

    .about-hike .container {
        display: flex;
        align-items: center;
        gap: 3vw;
    }
    .mountain-photo {
        display: none;
    }

    .about-hike-media {
        display: flex;
        align-items: center;
    }

    .video-wrapper {
        right: auto;
        bottom: auto;
    }

    .our-deal-content {
        justify-content: center;
    }

    .our-deal-media {
        display: none;
    }

    .our-deal-text {
        align-items: center;
    }

    .t-s {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block-posts {
        justify-content: center;
    }

    .block-post {
        width: 70vw;
        height: 26vw;
    }
}

@media screen and (max-width:431px) {
    .container {
        padding: 0 10px;
    }

    .header-list {
        display: none;
    }

    .header {
        background-color: rgba(26, 62, 62, 0.2);
        backdrop-filter: blur(6px);
    }

    .header-menu {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        align-items: center;
        padding-bottom: 5px;
    }

    .header-menu > img {
        width: 23vw;
    }

    .menu-button {
        display: block;
        z-index: 9;
    }

    .header-nav.open .menu-button {
        display: block;
        z-index: 9;
        position: fixed;
        right: 25px;
        top: 31px;
        scale: 1.2;
    }

    .header-nav.open .header-list{
        position: fixed;
        top: 0;
        
        right: 0;
        left: 0;
        background-color: rgba(26, 62, 62, 1);

        z-index: 1;
        padding: 46px 30px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        font-size: 34px;
        font-weight: 600;
        padding-bottom: 150%;
    }

    .header-slogan {
        font-size: 21px;
    }

    .about-hike-text {
        display: flex;
        flex-direction: column;
    }

    .about-hike-title {
        align-self: center;
    }

    .about-hike-slogan {
        align-self: center;
        text-align: center;
    }

    .about-hike .container {
        flex-direction: column-reverse;
        gap: 15vw;
    }

    .about-hike-media {
        width: 85vw;
        justify-content: center;
        height: 400px;
    }
    .about-hike-video {
        height: 450px;
    }

    .our-deal-slogan {
        text-align: center;
    }

    .popular-ways-slogan {
        font-size: 31px;
    }

    .popular-ways-cards {
        width: 100%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }
    .popular-ways-card {
        scroll-snap-align: start;
    }
    .popular-ways-cards::-webkit-scrollbar {
        display: none;
    }

    .blog-content {
        gap: 40px;
    }

    .blog-posts-container {
        overflow-x: hidden;
        width: 100%;
        position: relative;
      }

      .block-posts {
        padding-top: 0;
        justify-content: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x:auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
      }

      .block-posts::-webkit-scrollbar {
        display: none;
    }

    .block-post {
        min-width: 66vw;
        height: 120vw;
        flex-direction: column;
        padding: 0;
        gap: 0;
        scroll-snap-align: start;
    }

    .block-post-media {
        width: 100%;
    }

    .block-post-media-img {
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .block-post-text {
        padding: 16px;
        padding-bottom: 16px;
        height: 100%;
    }

    a.block-post-title {
        font-size: 20px;
        line-height: 26px;
    }

    .block-post-description {
        font-size: 14px;
        line-height: 20px;

    }

    .blog-button {
        margin-top: 0;
    }

    .footer-content {
        flex-direction: column;
        gap: 30px;
    }

    .about-company {
        max-width:none;
    }

    .socials {
        max-width: none;
        flex-direction: column-reverse;
        align-items: flex-start;
        width: 100%;
    }
}